<p>
    <hr><br>
<p>
<a name="section-<%=widget['key']%>"></a>
<!--ini:div-widget-->
<div style="position:relative;">
    <h3 title="<%=widget['key']%>" style="background: darkslategray; color: white; padding: 5px; font-size: 1.2rem;"> &nbsp;
        <% if(widget.nou) { %>
            <i class="fas fa fa-plus" style="color:darkorange;"></i>
            <% } %>
                <%=widget['name']%>
                    &nbsp;&nbsp;
                    <% if(recomanacio==3) { %>
                        <i class="fas fa fa-thumbs-up"></i>&nbsp;&nbsp;
                        <% } else if(recomanacio==0) { %>
                            <i class="fas fa fa-thumbs-down"></i>&nbsp;&nbsp;
                            <% } %>
                            <% if(widget['future']) { %>
                                &nbsp;&nbsp;<span class="badge badge-info">Pròximament</span>
                            <% } %>
                            <% if(widget['for']) { %>
                                &nbsp;&nbsp;<span class="badge badge-danger">Restringit a usuaris <%=widget['for']%></span>
                            <% } %>
    </h3>
    <p><br></p> 

        <div
            style="font-size:small; position: absolute; right: 20px; top: 5px;padding:4px;border:1px dashed grey; background:white; z-index:100;  box-shadow: 4px 4px darkslategrey;">
            <em>Àmbit d'aplicació</em>: <%=ambit%><br>
                <em>Recomanació d'ús</em>: <%=recomanacio%>/3<br>
                    <em>Versió</em>: <%=widget['version']%>
        </div>

        <!--begin:tabmenu-->
        <div class="tabbable iedib-tabmenu" id="tabmenu-<%=tabid%>" style="position:relative; margin-left:0; padding: 10px; width:99%; background: whitesmoke;">
            <% if(allowfullscreen) { %>
            <button data-enlargeable="<%=tabid%>" style="position:absolute;right:10px;top:4px;"
                class="btn btn-light btn-sm" title="Fullscreen"><i class="fas fa fa-expand-arrows-alt"></i></button> <% } %>
            
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-<%=tabid%>-0" data-toggle="tab"><span>&nbsp;</span><span>Es mostra
                            com...</span></a></li>
                <li><a href="#tab-<%=tabid%>-1" data-toggle="tab"><span>&nbsp;</span><span>Codi HTML</span></a></li>
            </ul>

            
            <div class="tab-content" style="background:white;">
                <div class="tab-pane  active  iedib-tabpane" id="tab-<%=tabid%>-0" style="position:relative; min-height:100px; max-height:400px; overflow: auto;">
                    <% if(widget['category'] != 'filtres') { %>
                    <%-codiSnippetCompilat%>
                    <%} else { %>
                    <em>Els filtres no disposen de previsualització.</em>
                    <% } %>
                </div>
                <div class="tab-pane iedib-tabpane" id="tab-<%=tabid%>-1" style="width: 99%">
                    <div style="position: relative; position: relative; overflow: hidden; height: 300px;">
                    <pre class="iedib-code iedib-code-stripped"  
                        style="width: 100%; height: 100%; left: 0; top: 0; position: absolute; overflow: hidden; padding-bottom: 50px;">
                        <code class="hljs language-html" id="tab-<%=tabid%>-12" style="width: 100%; height: 100%; overflow: auto;">
<%-codiSnippetCompilatEscaped%>
                        </code>
                    </pre>
                    <button data-key="<%=widget['key']%>" style="position:absolute;right:10px;top:4px;"
                        class="btn btn-sm btn-secondary"><i class="fas fa fa-copy"></i> Copiar</button>
                    </div>
                    <div>
                <% if(widget.requires){ %>
                <div class="alert alert-warning">
                    <p>Dependències JS necessàries (col·locar a final del codi HTML):</p>
                    <ul>
                    <%  [widget.requires].map(v => v.split('|')[0].trim()).forEach( function(v){ %>
                    <li>&lt;script src="https://iedib.net/assets<%=v%>"&gt;&lt;/script&gt;</li>
                    <% }) %>
                    </ul>
                </div>
                <% } %>
                </div>
            </div>
            <!--end:tabmenu-->
        </div>

        <p><br></p>

         
            <% if (widget["pro"] && widget["pro"].length) { %> 
                <p style="color:green"><b><i class="fas fa fa-check-circle"></i> S'aconsella...</b></p> 
                <div class="alert alert-success" style="width:90%;margin-left:30px;"><ul>
                <% widget["pro"].forEach((pro) => { %>
                    <li><%-pro%></li>
                <% }) %>
             </ul></div>
            <% } %>
             
            <% if (widget["con"] && widget["con"].length) { %>
                <p style="color:#a50b0b"><b><i class="fas fa fa-times-circle"></i> Cal evitar...</b></p>
                <div class="alert alert-danger" style="width:90%;margin-left:30px;"><ul>
                <% widget["con"].forEach((con) => { %>
                    <li><%-con%> </li>
                <% }) %>
                </ul></div>
            <% } %>

            <% if (widget["hint"] && widget["hint"].length) { %>
                <p style="color: rgb(62, 3, 62)"><b><i class="fas fa fa-lightbulb"></i> Tingues en compte...</b></p>
                <div class="alert alert-info" style="width:90%;margin-left:30px; color: rgb(62, 3, 62)"><ul>
                <% widget["hint"].forEach((hint) => { %>
                    <li><%-hint%> </li>
                <% }) %>
                </ul></div>
            <% } %>
        

        <% if (widget["instructions"]) { %>
        <p style="color:#5252ec"><i class="fas fa fa-book"></i> <b>Instruccions de l'snippet...</b></p>
        <div style="margin-left:35px;">
            <p>
                <%-widget['instructions']%>
            </p>
        </div> 
        <% } %>

    <p><br>
    <p>
    <p><br>
    <p>
</div>
<!--fi:divwidget-->